@import 'vars';

// @import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

body {
  max-width: 980px;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  border: 1px solid;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 18px;
  background: $background-color;
  min-height: 80vh;
}

p, h1, h2, h3, ul {
  color: $font-color;
}
ul {
  padding-left: 0;
}

h1 + p {
  margin-top: 0;
}
h1, h2{
  margin-bottom: 0.3em;
}

.error {
  color: $error-color;
}

main {
  padding: 1rem;
}

input, button {
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.3em 1.2em;
  border-radius: 5px;
}
button {
  border-color: $accent-color-1;
  background-color: $accent-color-1;
  color: #fff;
  margin-right: 0.5em;
  &:hover, &:focus {
    opacity: 0.8;
  }
}
nav {
  li{
    list-style-type: none;
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid $nav-link-color;
    &:first-of-type{
      border-left: none;
      padding-left: 0;
    }
    a {
      color: $nav-link-color;
      text-decoration: none;
      &:hover, &:focus{
        color: $nav-link-hover-color;
      }
    }
  }
}