@import 'vars';

 @import url('https://fonts.googleapis.com/css?family=Poiret+One:400,700,900');

body {
  width: 960px;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  border: 5px groove $accent-color-1;
//  border-radius: 10px;
  font-family: sans-serif;
  font-size: 18px;
 // min-height: 80vh;
  background-color: $background-color;
}

p, h1, h2, h3, ul {
  font-family: 'Poiret One', sans-serif;
  color: $font-color;
}
ul {
  padding-left: 0;
}

h1 + p {
  margin-top: 0;
}
h1 {
  font-weight: 900;
}
h1, h2{
  text-align: center;
  margin-bottom: 0.3em;
}
h2 {
  font-family: sans-serif;
  font-weight: normal;
}

.error {
  color: $error-color;
}

.main {
  border: thick groove $accent-color-1;
  padding: 1rem 1rem 2rem 1rem;
}

input, button {
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.3em 1.2em;
  border-radius: 5px;
}
button {
  border-color: $accent-color-1;
  background-color: $accent-color-1;
  color: #fff;
  margin-right: 0.5em;
  &:hover, &:focus {
    opacity: 0.8;
  }
}
nav {
  text-align: center;
  li{
    list-style-type: none;
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid $nav-link-color;
    &:first-of-type{
      border-left: none;
      padding-left: 0;
    }
    a {
      color: $nav-link-color;
      text-decoration: none;
      &:hover, &:focus{
        color: $nav-link-hover-color;
      }
    }
  }
}
.landing, .startGame {
  text-align: center;
}
.game {
  border-top: thick groove $accent-color-1;
  .hud {
    text-align: center;
    padding: 1em;
  }
  h3 {
    display: inline;
    border-right: thick groove $accent-color-1;
    padding-left: 1em;
    padding-right: 1em;
  }
}
strong {
  font-weight: bold;
}
.gameCanvas {
  background-size: cover;
  background-image: $background-img-1;

}
.gameCanvas.img1 {
  background-image: $background-img-1;

}

.gameCanvas.img2 {
  background-image: $background-img-2;
}

.gameCanvas.img3 {
  background-image: $background-img-3;
}

.gameCanvas.img4 {
  background-image: $background-img-4;
}
