//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$background-color: rgb(237, 237, 237);
$background-img: url(https://raw.githubusercontent.com/spyosaurus/finders-keepers-frontend/master/assets/backgrounds/curran-unsplash.jpg);
$font-color: rgba(0,0,0,0.8);

$error: #ff0000;

$accent-color-1: #aaa;

$modal-background: rgba(0,0,0,0.4);
$modal-content-background: #fff;
$error-color: #f00;

$nav-link-color: $accent-color-1;
$nav-link-hover-color: lig

//--------------------------------------------------------------
// SIZE
//--------------------------------------------------------------